@import url("https://fonts.googleapis.com/css?family=Open+Sans:600");

body {
  font-family: "Open Sans", "sans-serif";
  background: #f2f2f2;
}

p {
  color: #919191;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.frame {
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px;
}

.frame p {
  margin-bottom: 3px;
  font-size: 11px;
  color: #919191;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-dark {
  background: #ffffff;
}

.container-light {
  background: #a6a6a6;
}

.icon {
  width: 60px;
  height: 60px;
  padding: 20px;
}
